<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ArmsnHands">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ArmsnHands urdf file -->
    <xacro:include filename="$(find arm_system_model)/urdf/arm_system.urdf.xml" />

    <!-- Import control_xacro -->
    <xacro:include filename="ArmsnHands.ros2_control.xacro" />


    <xacro:ArmsnHands_ros2_control name="ArmSystem" initial_positions_file="$(arg initial_positions_file)"/>
fa
</robot>
