<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ArmsnHands.SLDASM">
  <link
    name="shoulder_link">
    <inertial>
      <origin
        xyz="0.15146 -0.0038312 -0.000404"
        rpy="0 0 0" />
      <mass
        value="0.243427734576419" />
      <inertia
        ixx="0.000225446645886005"
        ixy="6.23090628975225E-08"
        ixz="5.37973314021635E-06"
        iyy="0.000136237604304921"
        iyz="9.74405583681102E-06"
        izz="0.000132493098344907" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ArmsnHands.SLDASM/meshes/shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ArmsnHands.SLDASM/meshes/shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="upper_arm_link">
    <inertial>
      <origin
        xyz="0.0017415455549592 0.125022178875143 -0.000874751284204336"
        rpy="0 0 0" />
      <mass
        value="0.238225282155877" />
      <inertia
        ixx="0.000486624161557905"
        ixy="1.68148762429348E-05"
        ixz="1.25678103705738E-07"
        iyy="0.000130133939057714"
        iyz="-1.29677657841813E-05"
        izz="0.000464820958515725" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ArmsnHands.SLDASM/meshes/upper_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ArmsnHands.SLDASM/meshes/upper_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_joint"
    type="revolute">
    <origin
      xyz="0.20500155343 -0.00151891118282245 5.75223328378366E-05"
      rpy="-1.60864900555086 0 0" />
    <parent
      link="shoulder_link" />
    <child
      link="upper_arm_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_link">
    <inertial>
      <origin
        xyz="-0.416161585408388 -0.00387076982900833 0.000657865954753756"
        rpy="0 0 0" />
      <mass
        value="0.0906405879929624" />
      <inertia
        ixx="4.37886771211888E-05"
        ixy="-7.56029988557634E-06"
        ixz="4.08574553516471E-07"
        iyy="9.86840247941789E-05"
        iyz="-4.07840125076158E-07"
        izz="0.000124330526323733" />
    </inertial>
    <visual>
      <origin
        xyz="0.23 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ArmsnHands.SLDASM/meshes/forearm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.23 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ArmsnHands.SLDASM/meshes/forearm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="forearm_updown_joint"
    type="revolute">
    <origin
      xyz="0.00051304 0.2537 -0.00034787"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="upper_arm_link" />
    <child
      link="forearm_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_roll_link">
    <inertial>
      <origin
        xyz="-0.0737767630409266 0.00187971694429238 -0.00221282379229593"
        rpy="0 0 0" />
      <mass
        value="0.0943405173279478" />
      <inertia
        ixx="4.42015546953826E-05"
        ixy="5.76816635925245E-06"
        ixz="-5.84325592233798E-06"
        iyy="0.000167297555403946"
        iyz="-5.50841589971345E-07"
        izz="0.000139488253732576" />
    </inertial>
    <visual>
      <origin
        xyz="0.23 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ArmsnHands.SLDASM/meshes/forearm_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.23 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ArmsnHands.SLDASM/meshes/forearm_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foreamr_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="forearm_link" />
    <child
      link="forearm_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
