<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ArmsnHands_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="l_shoulder_ud_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_ud_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_shoulder_io_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_io_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_upper_arm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_upper_arm_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_forearm_ud_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_forearm_ud_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_forearm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_forearm_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_shoulder_ud_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_ud_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_shoulder_io_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_io_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_upper_arm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_upper_arm_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_forearm_ud_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_forearm_ud_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_forearm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_forearm_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
<joint name="l_hand_dumb_joint">
  <command_interface name="position"/>
  <state_interface name="position">
    <param name="initial_value">${initial_positions['l_hand_dumb_joint']}</param>
  </state_interface>
  <state_interface name="velocity"/>
</joint>

<joint name="r_hand_dumb_joint">
  <command_interface name="position"/>
  <state_interface name="position">
    <param name="initial_value">${initial_positions['r_hand_dumb_joint']}</param>
  </state_interface>
  <state_interface name="velocity"/>
</joint>

        </ros2_control>
    </xacro:macro>
</robot>
